.container{
  padding-top: 45px;
  margin-top: 40px;
  width: 500px !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
button{
  background-color: #334cff;
  border: white;
  border-radius: 3px;
}